/*table*/
th {
    background-color: white;
    width: 1350;
    height: 50px;
}

td {
    background-color: white;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
}

.add-user-container{
    padding-left: 30%;
}

.center{
    text-align: center;
}
